<template>
  <div id="app">


    <div class="parallax-container">

      <h3 class="parallax-title">The way to work remotely</h3>
      <parallax :speed-factor="0.3" breakpoint="(min-width: 80px)">
        <img src="https://images.unsplash.com/photo-1585068247241-753a57d51cf2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1036&q=80">
      </parallax>
    </div>

    <div class="big-row"></div>
  </div>
</template>

<script>
import Parallax from "vue-parallaxy";

export default {
  components: {
    Parallax
  }
};
</script>

<style>
.parallax-container {
  position: relative;
}
.parallax-title {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.row {
  height: 20vh;
}
.big-row {
  height: 80vh;
}
</style>
